@charset "UTF-8";

body {
	font-family: 'Cormorant'; font-size: 20px;
	
}
footer {
	font-family: 'Cormorant SC';font-size: 15px;
	font-style: bold;
	float: right;
}

.container {
	max-width: 400px;
	margin: auto;
	text-align: justify;
	margin-top: 100px;
	padding-bottom: 1.5em;
	color: rgba(0, 0, 0, 1);
	animation: text_animation;
	animation-duration: 8s;
}

#quote_body {
	margin-bottom: 0px;
}

@keyframes text_animation {
    from {color: rgba(0, 0, 0, 0.0);}
    to {color: rgba(0, 0, 0, 1.0);}
}

