@charset "UTF-8";

body {
	font-family: 'Cormorant'; font-size: 20px;
	
}
footer {
	font-family: 'Cormorant SC';font-size: 15px;
	font-style: bold;
	float: right;
}

.container {
	max-width: 400px;
	margin: auto;
	border: 2px solid #000;
	text-align: justify;
	margin-top: 200px;
	padding-bottom: 1em;
}

#quote_body {
	margin-bottom: 0px;
}